form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  max-width: 1500px;
  margin: 0 auto;
}

label {
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  form {
    flex-direction: row;
    align-items: flex-start;
    width: 60%;
    height: 3rem;
  }
}
