.image-gallery-slides {
  margin-top: 1rem;
  max-width: 94rem;
}

.image-gallery-bullets .image-gallery-bullet.active {
  background: #f8475f;
  border: none;
}

.image-gallery-bullets .image-gallery-bullet {
  background: #f2ebec;
  border: none;
}

.nextui-c-fdHeMm-idQKhCv-css {
  /* display: block; */
}

.slick-dots li button {
}
.slick-dots li button::before {
  /* color: #f2ebec !important; */
  font-size: 0.9rem !important;
}

.slick-dots li.slick-active button:before {
  color: #f8475f !important;
}

.nextui-c-kbhVdb {
  max-height: 100%;
}

.slick-slider {
  padding: 1rem 2rem 2rem 2rem;
  overflow-x: hidden;
  height: max-content;
}

.slick-dots {
  bottom: 0;
}

.slick-prev {
  left: 0;
}
.slick-next {
  right: 0;
}

.slick-arrow:before {
  color: black;
  font-weight: bold;
  opacity: 1;
  font-family: monospace;
  font-size: 1.8rem;
  text-shadow: 1px 1px 2px rgba(40, 39, 39, 0.3);
}

.slick-arrow:hover:before {
  font-size: 2rem;
  color: black;
  transition: transform 0.3s ease;
}

.slick-prev:before {
  content: "<";
}

.slick-next:before {
  content: ">";
}
